<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sales/dayPage.css}">

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/javascript/dayPage.js}"></script>

</th:block>

<div layout:fragment="content">
    <div class="dayPageWrap">
        <div class="day" >
            <a th:href="@{/sales/dayPage(date=${prevDate})}"><i class="fa-solid fa-chevron-left"></i></a>
            <span th:text="${date}"></span>
            <a th:href="@{/sales/dayPage(date=${nextDate})}"><i class="fa-solid fa-chevron-right"></i></a>
        </div>

        <div class="InCome">

        </div>


        <p th:text="'서비스금액: ' + ${#numbers.formatInteger(serviceIncome,1,'COMMA') + '원'}"></p>
        <p th:text="'총 금액: ' + ${#numbers.formatInteger(TotalIncome,1,'COMMA') + '원'}"></p>


    </div>
</div>




</html>