.serviceWrap {
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-65%,-60%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 50%;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
}
.serviceHeader{
    display: flex;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #aaa;
}
.serviceHeader h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
.serviceContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.type{
    width: 60px;
}
.cut,.perm,.feverPerm,.color,.clinic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-bottom: 1px solid rgba(170,170,170,.2);
    margin-top: 10px;
}
.cutType,.permType,.feverPermType,.colorType,.clinicType {
    width: 100px;
    text-align: left;
    line-height: 30px;

}
.cutCost,.permCost,.feverPermCost,.colorCost,.clinicCost{
    line-height: 30px;
}
.serviceBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-top: 30px;
}
.permType p,.feverPermCost p{
    text-align: left;
}