
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">

<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="script">

</th:block>

<div th:fragment="cont">
    <div class="cont_box">
        <div class="favorite_box">
            <div class="favorite">
                <span>1</span>
            </div>
            <div class="favorite">
                <span>1</span>
            </div>
            <div class="favorite">
                <span>1</span>
            </div>
            <div class="favorite">
                <span>1</span>
            </div>
        </div>
        <div class="cont_bottom_box">
            <div class="left_box">
                <div class="graph">
                    graph box
                </div>
                <div class="designer_list">
                    <div class="title">
                        <ul class="title_list">
                            <li>1</li> <li>2</li>
                            <li>3</li> <li>4</li>
                        </ul>
                    </div>
                    <div class="today_list">
                        <div class="line">
                            <ul class="line_list">
                                <li>1</li> <li>2</li>
                                <li>3</li> <li>4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_box">
                미정
            </div>
        </div>
    </div>
</div>

</html>