.cont_head{
    width: 985px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.favorite_list{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph_box{
    width: 985px;
    height: 340px;
    position: relative;
    background-color: #ffffff;
}
.select_day{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 20px;
    display: flex;
}
.bt{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    outline: none;
    background: none;
    border: none;
}
.cont_footer{
    width: 985px;
    height: 175px;
    display: flex;
    gap: 15px;
}
.designer_work_list{
    width: 595px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
}
.work_header{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.work_content{
    width: 100%;
    height: 21px;
    display: flex;
    justify-content: space-between;
}
.work_header{
    border-bottom: 1px solid rgba(0,0,0,20%);
}
.work_content_box{
    width: 100%;
    height: 130px;

}
.cont_box{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_title_box{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inven_cont_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 27px;
}
.today_work_list{
    background-color: #ffffff;
    width: 375px;
    height: 175px;
    border-radius: 10px;

}
.today_work_title{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,20%);
}
.today_work_content{
    width: 100%;
    height: 30px;
    display: flex;
}
.today_status{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.today_content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_head , .graph_box, .cont_footer{
    border-radius: 10px;
}